# =========================
# Python virtual envs
# =========================
venv/
.venv/
env/
ENV/

# =========================
# Python cache / build
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# =========================
# Excel files (hard block)
# =========================
*.xls
*.xlsx
*.xlsm
*.xlsb

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/


backend/db.sqlite3


backend/lifetime/settings.py
backend/Dockerfile
frontend/Dockerfile
frontend/src/api/client.ts
docker-compose.prod.yml